#components-layout-demo-top-side-2 .logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: #202124;
  }
  
.ant-row-rtl #components-layout-demo-top-side-2 .logo {
    float: right;
    margin: 16px 0 16px 24px;
}
  
.ant-layout-header {
    background: #202124!important;
    padding-left: 20px!important;
    box-shadow: 0px 2px 10px rgba(155, 0, 0, 1);

}

.ant-input-group-addon {
    background: #202124!important;
}
.search-bar{
    margin-top: 1rem;
}
.ant-layout{
    background: #f0f2f5;
    min-height: auto;
}
.search-input{
    width: auto;
    margin-top: 1rem;
}
.small-menu-btn {
    font-size: 20px!important;
    color: #f7931e!important;
    height: auto!important;
    margin-top: 0.5rem;
}