.user {
    font-size: 12px;
    margin: 0cm;
    padding: 0cm;
    color: #421702;
}
.rate {
    padding-top: 10px;
    padding-bottom: 0cm;
    margin-bottom: 0cm;
    color: #421702;
    font-size: 18px;
}