.user-name{
    font-size: 30px;
    font-weight: 700; 
    padding-top: 5px; 
    margin: 0;
    color: #FD823C;
    word-break: break-all;
}
.username{
    font-size: 14px;
    font-weight: 700; 
    display: inline;
    padding-bottom: 5px;
    margin: 0;
    color: #000000;
}
.lists{
    font-size: 14px;
    font-weight: 700; 
    margin: 0;
    color: #000000;
}
.mini-lists{
    font-size: 20px;
    font-weight: 500; 
    margin: 0;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-top: 0px;
    color: #FD823C;
}
.book-names{
    font-size: 14px;
    margin: 0;
    color: #000000;
}
.comments{
    font-size: 14px;
    font-weight: 700; 
    margin: 0;
    color: #000000;
}
.bio{
    font-size: 14px ;
    padding-right: 3px;
    padding-left: 3px;
    margin: 0; 
}
.bio-row{
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgb(0 0 0 / 15%);
    padding: 10px;
    background-color: #ffffff;
    display: flex;
}
.comment-row{
    background-color: #ffffff;

    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}

.list-col{
    /*background-color: #ffffff;*/
    padding:0.5cm 0.5cm 0cm 0.5cm;
    /*margin-top: 0.5cm;*/
    margin-left: 0cm;
    
    border-radius: 5px;
    /*box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);*/
}
.mini-list-col{
    background-color: #303031;
    padding:14px 0.3cm 0.5cm 0.3cm;
    margin-top: 1rem;
    margin-bottom: 0.25cm;
    margin-left: 0cm;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}
.content-col{
    
    padding:0.5cm;
    border-radius: 5px;
   
}
.container-grid {
    display: grid;
    margin: auto;
    grid-template-columns:repeat(auto-fill, minmax(250px, 1fr)); /*columns widths*/
    height: max-content;
  }
.comment-book-name{
    font-size: 18px;
    font-weight: 500;
    margin:3px 3px 0px 3px;
    padding-top: 14px;
    padding-left: 2px;
    color: #000000;
}
.profile-comment-rating{
    font-size: 14px;
    font-weight: 700;
    margin:0px 3px 5px 3px;
    padding-bottom: 1px;
    padding-left: 2px;
    color: #FD823C;
}

.profile-comments{
    font-size: 14px;
    font-weight: 400;
    padding-top: 1px;
    color: #000000;
}
.add-book-button{
    border-radius: 144px;
    position: relative;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    margin: auto;
    background-color: #FD823C; 
    border-color: #FD823C;/* Green */
    color: #ffffff;
    font-weight: bold!important;
    font-size: 15px!important;
}
.add-book-button:hover{
    background-color: #ffffff; 
    border-color: #ffffff;/* Green */
    color: #FD823C
}
.comment-container{
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgb(0 0 0 / 15%);
    margin-top: 1rem;
    padding: 10px;
    background-color: #ffffff;
}
.comment-body{
    padding: 20px 20px 0px 0px;
    margin-top:1rem;
    display: inline;
    font-weight: bold;
    color: #FD823C;
}
.readlist-container{
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgb(0 0 0 / 15%);
    margin-top: 1rem;
    padding: 10px;
    background-color: #303031;
}

@media only screen and (min-width: 768px) {
    .container-grid{
        margin: auto;
        display: flex;
        height: max-content;
    }
    .container-grid .content-col {
        padding-left: 5vw;
    }
    .comment-container{
        padding: 1vw;
    }
    .comment-body{
        font-size:110%
    }
  } 
  

  