.user-name{
    font-size: 30px;
    font-weight: 700; 
    padding-top: 5px; 
    margin: 0;
    color: #FD823C;
}
.username{
    font-size: 14px;
    font-weight: 700; 
    padding-bottom: 5px;
    margin: 0;
    color: #000000;
}
.lists{
    font-size: 14px;
    font-weight: 700; 
    margin: 0;
    color: #000000;
}
.mini-lists{
    font-size: 20px;
    font-weight: 500; 
    margin: 0;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-top: 0px;
    color: #FD823C;
}
.book-names{
    font-size: 14px;
    margin: 0;
    padding: 2px 2px 2px 4px;

    color: #ffffff;
}
.comments{
    font-size: 14px;
    font-weight: 700; 
    margin: 0;
    color: #000000;
}
.bio{
    font-size: 14px ;
    padding-right: 3px;
    padding-left: 3px;
    margin: 0; 
}
.bio-row{
    background-color: #ffffff;
    padding:0.5cm;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}
.comment-row{
    background-color: #ffffff;

    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}

.list-col{
    /*background-color: #ffffff;*/
    padding:0.5cm 0cm 0cm 0cm;
    /*margin-top: 0.5cm;*/
    margin-left: 0cm;
    margin-right: 0.2cm;
    border-radius: 5px;
    /*box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);*/
}
.mini-list-col{
    background-color: #303031;
    padding:14px 0.3cm 0.5cm 0.3cm;
    margin-top: 3px;
    margin-bottom: 0.25cm;
    margin-left: 0cm;
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}
.content-col{
    
    padding:0.5cm;
    margin-right: 10px;
    border-radius: 5px;
   
}
.container-grid {
    display: grid;
    grid-template-columns: 7cm 20.6cm; /*columns widths*/
    height: max-content;
  }
.comment-book-name{
    font-size: 18px;
    font-weight: 500;
    margin:3px 3px 0px 3px;
    padding-top: 14px;
    padding-left: 2px;
    color: #000000;
}
.profile-comment-rating{
    font-size: 14px;
    font-weight: 700;
    margin:0px 3px 5px 3px;
    padding-bottom: 1px;
    padding-left: 2px;
    color: #FD823C;
}

.profile-comments{
    font-size: 14px;
    font-weight: 400;
    margin:3px;
    padding-top: 1px;
    padding-bottom: 14px;
    padding-left: 2px;
    color: #000000;
}
.add-book-button{
    border-radius: 10px;
    position: relative;
    left: 1.5cm;   
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}
.add-book-button:hover{
    background-color: #FD823C; 
    border-color: #FD823C;/* Green */
    color: #ffffff
}
.comment-container{
    border-radius: 5px;
    box-shadow: 0px 2px 10px rgb(0 0 0 / 25%);
    margin-top: 1rem;
}
.comment-body{
    display: inline;
    font-weight: bold;
    color: #FD823C;
}